
/*----------
    color,font and variables 
-----------*/

:root{
    --font-base:"poppins", sans-serif;
    --c-primary: #975af9;
    --c-secondary: #46a7f8;
    --c-backgorund:#e6e6e6;
    --c-dark: #2d2d2d;
    --c-black: #000000;

}

body{
    font-family: var(--font-base);
    font-size: 16px;
    line-height: 1.6;
}

.h1 .h2 .h3 .h4 .h5 .h6{
    font-weight: 600px;
}

a {
    text-decoration: none;
    color: var(--c-primary);
}

a:hover{
    color: var(--c-secondary);
}

.section-padding{
    padding-top: 120px ;
    padding-bottom: 120px;
}

img{
    max-width: 100%;
    height: auto;
}

.navbar-dark{
    background-color: var(--c-black);
}
/*----------
    buttons 
-----------*/
.btn {
    font-weight: 600px !important;
}
.btn-primary{
    background-color: #975af9 !important;
}

.btn-primary:hover{
    background-color: var(--c-secondary) !important;
}

.btn-light{
    background-color: var(--c-backgorund);
}
/*----------
    Navbar 
-----------*/
.navbar{
    font-family: var(--font-base);
    font-size: 16px;
    
}

/*-----------
    Main Page 
------------*/

#Hero{
    background: url(/website/img/home/Hero-img.jpg) !important;
    background-position: top;
    margin-top: -55px;
}

.herotext{
    font-size: 95px;
}

/*-----------
    About us
------------*/

.brand-title{
    font-size: 65px;
    font-weight: 750px;
    font-family: var(--font-base);
}

.brand-p{
    font-size: 15px;
    font-weight: 750px;
    font-family: var(--font-base) !important;
}
/*-----------
    End
------------*/

.brand-title-light{

    font-size: 65px;
    font-weight: 750px;
    font-family: var(--font-base);
    color: var(--c-backgorund);

}

/*-----------
    icon box
------------*/

.icon-box{
    background: var(--c-primary);
    color: #46a7f8;
    width: 70px;
    align-items: center;
    font-size: 35px;
    flex: none;
}